@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body {
    // margin:0;
    // padding:0;
    // width: 100vw;
    /* font-family: 'Muli', sans-serif; */
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 17px;
    color: white;
    background-color: black;

    /* Reserve space for header plus some extra space for sneak peeking. */
    scroll-padding-top: 0vh;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    
    overflow: auto;
    overflow-x: hidden;
}