@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body {
    // margin: auto;
    // padding:0;
    position: absolute;
    width: 80vw;
    left: 10vw;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 17px;
    color: white;
    background-color: black;
    
    overflow: auto;
    overflow-x: hidden;
}

mobile-page-wrapper {
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
}