:root{
  --darker-grey: #0C0F13;
  // --dark-grey:;
  // --light-grey:;
  --pale-grey: rgb(210, 210, 210);
  --pale-accent: rgb(255, 246, 228);
  --dark-accent: rgb(233, 164, 39);
  --light-accent: rgb(244, 211, 108);
  --lighter-accent: rgb(255, 236, 197);
  --menu-accent: var(--dark-accent);
  --font-scale: 1.5;
}