@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
@font-face {
  font-family: 'herobold';
  src: url('/fonts/hero-bold-webfont.woff2') format('woff2'),
       url('/fonts/hero-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'herolight';
  src: url('/fonts/hero-light-webfont.woff2') format('woff2'),
       url('/fonts/hero-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'heroregular';
  src: url('/fonts/hero-regular-webfont.woff2') format('woff2'),
       url('/fonts/hero-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100vw;
  left: 0;
  transform-style: preserve-3d;
  perspective: 1000;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

html {
  width: 100vw;
  font-family: 'herolight', sans-serif;
  font-size: 17px;
  color: var(--pale-grey);
  overflow-x: hidden;
}

@media screen and (orientation:landscape) {
  h2 {
    font-family: 'heroregular', sans-serif;
    font-size: calc(2.3vh * var(--font-scale));
    font-weight: bold;
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    color: var(--pale-grey);
    text-transform: uppercase;
  }

  h4 {
    font-family: 'heroregular', sans-serif;
    font-size: calc(1.8vh * var(--font-scale));
    font-weight: bold;
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    color: var(--pale-grey);
  }

  p, a {
    font-family: 'Muli', sans-serif;
    font-size: calc(1.4vh * var(--font-scale));
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    color: var(--pale-grey);
  }
}

@media screen and (orientation:portrait) {
  h2 {
    font-family: 'heroregular', sans-serif;
    font-size: calc(1.9vh * var(--font-scale));
    font-weight: bold;
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    color: var(--pale-grey);
    text-transform: uppercase;
  }

  h4 {
    font-family: 'heroregular', sans-serif;
    font-size: calc(1.5vh * var(--font-scale));
    font-weight: bold;
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    color: var(--pale-grey);
  }

  p, a {
    font-family: 'Muli', sans-serif;
    font-size: calc(1.1vh * var(--font-scale));
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    color: var(--pale-grey);
  }
}

.orangetext {
  color: var(--dark-accent);
}

.page-background{
  margin: 0;
  background-image: linear-gradient(-90deg, var(--darker-grey) 5%, black 40%, black 60%, var(--darker-grey) 95%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.first-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  z-index: 5;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.first-section > img:nth-of-type(1){
  vertical-align: middle;
  text-align: center;
  height: 65vh;
  max-height: 65vh;
  overflow-y: visible;
  opacity: 0.;
  animation: zoom-fade 2.0s ease-in-out forwards;
}

@keyframes zoom-fade {
  0% {
    filter: brightness(0%) drop-shadow(0px 0px 20px black);
    transform: scale(1);
  }
  100% {
    filter: brightness(100%) drop-shadow(0px 0px 20px black);
    transform: scale(1.2);
  }
}

.elementocontainer {
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

elemento {
  display: block;
  align-items: center;
  justify-content: center;
  color: var(--pale-grey);
  text-shadow: 0 0 5px var(--pale-accent);
  background-color: white;
  transform-style: preserve-3d;
  perspective: 1000;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  width: 100%;
  top: 0;
  height: 80vh;
  min-height: 80vh;
  position: relative;
  opacity: 1.;
}

.scrollDiv{
  opacity: 0.;
}

.scrollDiv.fade-in{
  transition:opacity 300ms ease-in-out;
  opacity:1;
}
.scrollDiv.fade-out{
  transition:opacity 500ms ease-in-out;
  opacity:0;
}

elemento h2, elemento h4 {
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    color: var(--dark-accent);
}

elemento p {
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    color: var(--darker-grey);
    white-space: pre-line;
}

.fulltext {
  display: block;
  width: 80vw;
  margin-left: 10vw;
  height: fit-content;
  text-align: center;
  color: var(--darker-grey);
  white-space: pre-line;
  font-size: calc(1.4vh * var(--font-scale));
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.fulltext question, .fulltext answer, .fulltext emphasis, .fulltext p {
  font-family: 'heroregular';
  transition: color 1s ease;
  -webkit-transition: color 1s ease;
}

.fulltext question {
  color: var(--darker-grey);
}

.fulltext answer {
  font-family: 'herobold';
  color: var(--light-accent);
}

.fulltext emphasis {
  color: var(--dark-accent);
  font-size: calc(2vh * var(--font-scale));
}

.fulltext p {
  color: var(--darker-grey);
}

elemento:hover h4, .fulltext:hover answer {
  color: var(--menu-accent);
}

elemento:last-child:after {
  border-top: none;
}

footer {
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 7vh;
  padding-bottom: 3vh;
  overflow:hidden;
  font-family: 'herolight', sans-serif;
  background-color: var(--lighter-accent);
  z-index: 0;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer p, footer a {
  color: var(--darker-grey);
  font-size: 1.2vh;
}

.fulltext:after, footer:after, elemento:after {
  content: '';
  position: absolute;
  width: 24%;
  left: 38%;
  top: -0.4vh;
  border-top: 4px solid;
  border-image-source: linear-gradient(-90deg, rgba(255, 255, 255, 0), var(--light-accent), rgba(255, 255, 255, 0));
  border-image-slice: 1;
}

.disableborder:after{
  border-top: 0px solid;
  border-image-source: none;
  border-image-slice: 0;
}

.arrow-container {
  position: absolute;
  display: inline-block;
  height: 1.7vh;
  width: 1.7vh;
  top: calc(100vh - 1.7 * 1.7vh);
  align-items: center;
  justify-content: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.arrow {
  box-sizing: border-box;
  height: 1.7vh;
  width: 1.7vh;
  border-style: solid;
  border-color: var(--darker-grey);
  border-width: 0px 3px 3px 0px;
  transform: rotate(45deg);
  transition: border-width 500ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.bounce-arrow {
  animation-name: bounce-arrow;
  animation-timing-function: ease-in-out;
  z-index: 10;
}
@keyframes bounce-arrow {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-25%); }
  100% { transform: translateY(0); }
}

.logo {
  background-image: url('/img/logos/MarkDark.svg');
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center 30%;
}

@media screen and (orientation:landscape) {
  .picture{
    float: left;
    width: 50%;
    padding: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    position: relative;
  }

  .picture img{
    height: 50vmin;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25vmin);
  }

  .text{
    height: 100%;
    width: 40%;
    position: relative;
    left: 50%;
  }

  .text-span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (orientation:portrait) {
  .picture{
    width: 100%;
    height: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .picture img{
    width: 100%;
    height: 70%;
    min-height: 50%;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(50%, -50%);
  }

  .text{
    height: 50%;
    width: 100%;
    position: relative;
  }

  .text-span{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 0;
    transform: translateY(50%);
    text-align: center;
  }
}

a:visited {
  color: var(--dark-accent);
}
a:link {
  color: var(--dark-accent);
}
a:active {
  color: var(--pale-accent);
}
a:hover {
  color: var(--light-accent);
}

.e-mail:before {
  content: attr(data-website) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}
