:root{
  --darker-grey: #0C0F13;
  // --dark-grey:;
  // --light-grey:;
  --pale-grey: rgb(210, 210, 210);
  --pale-accent: rgb(255, 246, 228);
  --dark-accent: #9E005D;
  --light-accent: #D35FAA;
  --lighter-accent: #e9a8d2;
  --menu-accent: var(--light-accent);
  --font-scale: 1.5;
}