:root{
  --darker-grey: #0C0F13;
  // --dark-grey:;
  // --light-grey:;
  --pale-grey: rgb(210, 210, 210);
  --pale-accent: rgb(255, 246, 228);
  --dark-accent: #3B6088;
  --light-accent: #5B98CE;
  --lighter-accent: #d9ecfc;
  --menu-accent: var(--light-accent);
  --font-scale: 1.5;
}